/* font styling */
@import url('fonts.css');
@import url('image-zoom.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Poppins';
        src: url(/resources/assets/fonts/Poppins.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Inter';
        src: url(/resources/assets/fonts/Inter.ttf) format('truetype');
    }
    @font-face {
        font-family: 'Montserrat';
        src: url(/resources/assets/fonts/Montserrat.woff2) format('woff2');
    }
}

@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }

    svg {
        @apply transition-all;
    }
}
