@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Poppins";
        src: url(/resources/assets/fonts/Poppins/Poppins.ttf) format("truetype");
    }
    @font-face {
        font-family: "Inter";
        src: url(/resources/assets/fonts/Inter/Inter.ttf) format("truetype");
    }
    @font-face {
        font-family: "Poppins";
        src: url(/resources/assets/fonts/Montserrat/Montserrat.woff2)
            format("woff2");
    }
}
